body {
    background-color: #eee;
    margin: 20px;
}

div.container {
    margin-left: 50px;
}
div.newQuest {
    outline: 1px solid #aaa;
    height: 50px;
    background-color: #fff;
    float: top;
    margin: 5px 0;
}

div.newQuest ul {
    list-style-type: none;
    margin: 10px;
    float: left;
    padding-left: 10px;
}

div.newQuest button {
    float: right;
    margin: 10px;
}
.questDetails {
    float: right;
    margin: 10px 1em 0 1em;
    width: 30%;
    height: 70%;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #8699a4;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
}

.questDetails div {
    padding: 5px;
}

div.quests {
    position: relative;
}

#qcomments {
    margin: 10px;
}

form#addQuest {
    margin-bottom: 10px;
}

form button {
    margin-left: 5px;
    padding-left: 5px;
}

input#name {
    width: 250px;
}

div#questreward {
    margin-left: 5px;
}

#questType {
    horiz-align: right;
}

input#searchTask {
    margin-left: 5px;
    width: auto;
}
