body {
    background-color: #eee;
    margin: 20px;
}
.newQuest {
    outline: 1px solid #aaa;
    width: 550px;
    height: 50px;
    background-color: #fff;
    float: top;
    margin: 5px;
}

.newQuest ul {
    list-style-type: none;
    margin: 10px;
    float: left;
}

.newQuest button {
    float: right;
    margin: 10px;
}
.questDetails {
    float: right;
    margin: 10px 1em 0 1em;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #8699a4;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
}

.questDetails div {
    padding: 5px;
}

div.quests {
    position: relative;
}

textarea#qcomments {
    margin-top: 20px;
}
