body {
    background-color: #eee;
    margin: 20px;
}
.newQuest {
    outline: 1px solid #aaa;
    width: 550px;
    height: 50px;
    background-color: #fff;
    float: top;
    margin: 5px;
}

.newQuest ul {
    list-style-type: none;
    margin: 10px;
    float: left;
}

.newQuest button {
    float: right;
    margin: 10px;
}
.questDetails {
    float: right;
    margin: 0 1em 0 1em;
    width: 30%;
    position: absolute;
    top: 20px;
    right: 10px;
}

div .quests {
    position: relative;
}

