<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TheGame</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- build:css styles/main.css -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>to improve your experience.</p>
<![endif]-->


<div id="mainContainer" class="container-fluid">
	<div id="quests" class="row col-sm-8">
		<form id="addQuest" class="form-inline" action="#">
			<div class="form-group">
				<div class="input-group">
					<label class="control-label">
						<input id="name" class="form-control" type="text" placeholder="Add new item"/>
					</label>
					<button class="btn btn-default" id="add">Add</button>
				</div>
			</div>
			<div id="questreward" class="form-group">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary active">
						<input id="quest" type="radio" name="section" checked>Quest
					</label>
					<label class="btn btn-warning">
						<input id="reward" type="radio" name="section">Reward
					</label>
				</div>
				<label class="control-label">
					<input id="searchTask" class="form-control" type="text" placeholder="Search"/>
				</label>
			</div>
		</form>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="text-muted">Test project developed by <a href="https://github.com/leafchild0">leafchild0</a></p>
	</div>
</footer>

<script id="questDetailsTemplate" type="text/template">
	<div class="input-group">
		<label for="qnameEdit">Title</label><input class="form-control" id="qnameEdit" value="<%= name %>">
	</div>
	<div class="input-group">
		<label for="qdescriptionEdit">Description</label>
		<textarea class="form-control" id="qdescriptionEdit" rows="3"><%= description %></textarea>
	</div>
	<div class="input-group">
		<label for="qpriorityEdit">Priority</label>
		<select id="qpriorityEdit">
			<option>no priority</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</div>
	<% if (type === 'quest') {%>
	<div class="input-group">
		<label for="rewardLink">Reward</label>
		<select id="rewardLink">
			<option></option>
		</select>
	</div>
	<% }; %>
	<div class="input-group">
		<% if (comments[0]) {%><p class="commentsHeader">Comments</p><% }%>
		<% _.each(comments, function(comment) { %>
		<p class="postedComment"><%= comment.body %></p>
		<% }); %>
		<!--Please add a for each for comments-->
		<textarea class="form-control" rows="2" id="qcomments" title="Comments" placeholder="Post a comment"></textarea>
		<button id="commentAdd" class="btn btn-primary">Post</button>
	</div>
	<div id="edit-control" class="button-group">
		<button id="save" class="btn btn-primary">Save</button>
		<button id="close" class="btn btn-primary">Close</button>
	</div>

</script>

<script id="questTemplate" type="text/template">
	<ul>
		<li><span id="questType" class="label label-info fa"><%= type %></span> <%= name %></li>
	</ul>
	<button class="delete btn btn-danger">Delete</button>

</script>

<!-- build:js scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="bower_components/marionette/lib/backbone.marionette.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->

<!-- build:js scripts/app.js -->
<script src="scripts/app.js"></script>
<script src="scripts/models/quest.js"></script>
<script src="scripts/collections/quests.js"></script>
<script src="scripts/views/main.js"></script>
<script src="scripts/views/editQuest.js"></script>
<script src="scripts/views/questView.js"></script>
<script src="scripts/routes/questsRouter.js"></script>
<script src="scripts/utils.js"></script>
<!-- endbuild -->

</body>
</html>
